# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/

# Logs
*.log

# Rider
.idea/

# OS Files
.DS_Store
Thumbs.db

# Development config
appsettings.Development.json
